@import "tailwindcss";
@import "./colors.css";
@import "../styles/common.css";


@theme inline {
  --font-sans: var(--font-geist-sans);
}

.header-font {
  font-family: var(--font-ibm-plex-sans-condensed);
  font-weight: 700;
}


