@import "tailwindcss";

@theme {
  --color-primary: #0f5d5e;
   --color-primary-hover: #0c4d4e;
  --color-secondary: #aebca7;
  --color-accent: #c46d4a;
  --color-background: #f8f4ee;
  --color-text: #2a2a2a;
  --color-highlight: #cbb38a;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-accent: "Cormorant Garamond", serif;
}


  .gradient-primary {
    @apply bg-linear-to-r from-primary via-highlight to-accent;
  }